
<!-- index.html -->
{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}


<style>
    #partColors {
        display: flex;
        flex-direction: row; /* 가로로 나열되도록 변경 */
        flex-wrap: wrap; /* 화면 너비를 벗어나면 다음 줄로 넘어가도록 설정 */
        justify-content: flex-start; /* 왼쪽 정렬 */
    }

    .partItem {
        margin-right: 10px; /* 객체 사이의 간격을 조절하려면 margin-right 사용 */
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        width: 8em;
    }
</style>

<!-- product_no -->
<h2>{{product_no}}</h2>


<!-- parts -->
<h3>Part No.</h3>
<div id="partColors">
    {% for part_no in part_no_list %}
    <a href="{{ url_for('graph.show_part_detail', part_no=part_no, date_start=date_start, date_end=date_end) }}"><div class="partItem" data-part-no="{{ part_no }}">{{ part_no }}</div></a>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>


var date_start = "{{date_start|safe}}";
var date_end = "{{date_end|safe}}";


$(document).ready(function() {
    // Iterate through each part_no div and make AJAX request for color
    $('.partItem').each(function() {
        var partNo = $(this).data('part-no');
        var url = '/api/graph/get/part_color?part_no=' + encodeURIComponent(partNo) + '&date_start=' + date_start+ '&date_end=' + date_end;

        // Use a closure to capture the value of currentDiv
        var currentDiv = $(this);
        // Make AJAX request
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response) {
                // Update the corresponding part_no div with the new text
                currentDiv.css('color', response.color);
            }.bind(this),  // bind 'this' to maintain the correct context
            error: function(error) {
                console.error('Error fetching color for part_no: ' + partNo, error);
            }
        });
    });
});

</script>
{% endblock %}