
<!-- index.html -->
{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div>
        <canvas id="myChart"></canvas>
    </div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>

    // Flask에서 전달한 데이터를 파싱
    var chartData = {{ chart_data | safe }};


    var canvas = document.getElementById('myChart');
    console.log(chartData)
    canvas.height = 50;

    const minY = {{minY}} - 10
    const maxY = {{maxY}} + 10
    // const minY = Math.min(...chartData.values, ...limitData.up, ...limitData.down) - 10;
    // const maxY = Math.max(...chartData.values, ...limitData.up, ...limitData.down) + 10;
    // 차트 생성

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [
            {
                label: 'Data',
                data: chartData.map( item => ({y: item.value, x:item.datetime})), 
                backgroundColor: function(context) {
                // Check if the point is outside the Upper or Lower Limit
                    const index = context.dataIndex;
                    const value = chartData[index].value;
                    const limitUp = chartData[index].limit_up;
                    const limitDown = chartData[index].limit_down;

                    if (value > limitUp || value < limitDown) {
                        return 'rgba(255, 0, 0, 1)'; // Red color for points outside limits
                    } else {
                        return 'rgba(75, 192, 192, 0.2)';
                    }
                },
                borderColor: 'rgba(0, 0, 0, 1)',
                borderWidth: 1,
                pointRadius: 3,  // 점의 크기를 조절
                type:'scatter'
            },
            {
                label: 'Upper Limit',
                data: chartData.map( item => ({y: item.limit_up, x:item.datetime})), 
                borderColor: 'rgba(255, 0, 0, 1)',
                borderWidth: 1,
                fill: false,
                type: 'line',  // Line 데이터 타입 설정
                pointRadius: 0
            },
            {
                label: 'Lower Limit',
                data: chartData.map( item => ({y: item.limit_down, x:item.datetime})), 
                borderColor: 'rgba(0, 0, 255, 1)',
                borderWidth: 1,
                fill: false,
                type: 'line',
                pointRadius: 0
            }
        ]
        },
        options: {
            animation: {
            duration: 0, // Set duration to 0 to disable animations
            },  
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month',
                        parser: 'yyyy-MM-dd',
                        },
                    position: 'bottom',
                    // min: 0,  // x 축의 최소값
                    // max: chartData.labels.length - 1,  // x 축의 최대값
                    // ticks: {
                    //     callback: function(value, index, values) {
                    // // 각 x 축 눈금에 대한 콜백 함수
                    //         return chartData.labels[index];
                    // },
                    stepSize: 2,
                    // },
                    // ticks: {
                    //     callback: function(value) { 
                    //         return new Date(value).toLocaleDateString('de-DE', {month:'short', year:'numeric'}); 
                    //     },
                    // },
                    
                },
                y: {
                    beginAtZero: false,
                    min: minY,
                    max: maxY,
                    
                },
                
            }
        }
    });
</script>

{% endblock %}